@charset 'UTF-8';

:root{
    --esmeralda: #23d16c;
    --bege: #F2e2d2;
}

body{
    width: 80vw;
    margin: auto;
    background-image: url('/imagens/fundo.jpg');
    border: solid ;    
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    text-indent: 1.5em;
}

.texto_negrito{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    text-indent: 1.5em;
    font-weight: bold;
}

.slider{
    height: 150px;
    width: 70%; 
    margin: 3px auto;
    border: solid 1px red; 
}

#menu{
    background: linear-gradient(to left, #f2e2d293, #0000008f 75%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
}

.logo{ 
    height: 10vh;
    width: 10vw;
    display: inline;
}

#menu ul{
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
    display: inline;
}

#menu ul li{
    display: inline;
    margin: auto;
    
}
#menu ul li a{
    text-decoration: none;
    color: var(--esmeralda);
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}

#menu ul li a:hover{
    text-decoration: underline;
    color: rgb(74, 0, 158);
    
}

.fundo_post{
    border: solid 1px red; 
}

.container_somos{
    border: solid 1px black; 
    display: flex;
    margin: 1em;
}

.container_somos > img{
    height: 600px;
}
.container_somos > aside{
    margin: auto 10px;
    text-align: center;
    height: 100%;
    width: 100%; 
}

.container_somos > aside > button{
    text-align: center;   
    font-size: 1.3em;
    background-color: var(--esmeralda);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.726) ;
}

.container_somos > aside > button > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Portfólio*/
.container_portfolio{
    display: flex;
    width: 98%;
    justify-content: space-between;
    margin: 1%;
}
.foto{
    max-width: 32%;
    display: inline;
}
.tela-cheia{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 19, 0, 0.747);
}
.tela-cheia > img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Artistas*/
.container_frase{
    background-color: #23d16b5e;
    padding: 0 20%;
}

.container_artista{
    display: flex;
    margin: 5%;
}
.container_artista > aside{
    margin: auto 10px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.container_artista > img{
    height: 400px;
}

.container_artista > aside > h3{
    margin-right: 2%;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*blog*/
.posts{
    display: flex;
    width: 98%;
    align-content: space-between;
 
}
.post{
    width: 32%;
    display: inline;
    margin: 1%;
}
.post > a> img{
    max-width: 98%;
}
.post > aside{
    color: rgb(59, 59, 59);
    font-size: .8rem;
}


