@charset 'UTF-8';

:root{
    --esmeralda: #23d16c;
    --bege: #F2e2d2;
}

body{
    width: 80vw;
    margin: auto;
    background-image: url('/imagens/fundo.jpg');
    border: solid ;    
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    text-indent: 1.5em;
}

.texto_negrito{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    text-indent: 1.5em;
    font-weight: bold;
}

.slider{
    height: 150px;
    width: 70%; 
    margin: 3px auto;
    border: solid 1px red; 
}

#menu{
    background: linear-gradient(to left, #f2e2d293, #0000008f 75%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
}

.logo{ 
    height: 10vh;
    width: 10vw;
    display: inline;
}

#menu ul{
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
    display: inline;
}

#menu ul li{
    display: inline;
    margin: auto;
    
}
#menu ul li a{
    text-decoration: none;
    color: var(--esmeralda);
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}

#menu ul li a:hover{
    text-decoration: underline;
    color: rgb(74, 0, 158);
    
}

.fundo_post{
    border: solid 1px red; 
}

.container{
    border: solid 1px black; 
    display: flex;
    margin: 1em;
}

.container > img{
    height: 600px;
}
.container > aside{
    margin: auto 10px;
    text-align: center;   
}

.container > aside > button{
    text-align: center;   
    font-size: 1.3em;
    background-color: var(--esmeralda);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.726) ;
}

.container > aside > button > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

