@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body{
    background: rgb(5, 145, 0) url(../imagens/fundo_teste.jpg) left top repeat fixed;
    width: 100vw;
    height: 100vh;
}



/* Postagens */
section{
    background-color: rgba(0, 255, 55, 0.438);
    width: 90vw;
    margin: auto;
}
form#postagens{
    text-align: center;
    margin: auto;
    width: 90%;
}

form#postagens > label{
    width: 80%;
    background-image: linear-gradient(to right, rgb(148, 147, 147), transparent);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder ;
    display: block;
    text-align: left;
    margin: 3px auto 0px;
    
}
form > input#titulo{
    width: 80%;
}
form > textarea#descricao{
    width: 80%;
    height: 300px;
    margin-top: 1px;
}

form#postagens > input#foto{
    display: block;
    margin: auto;
    width: 200px;
    background-color: rgb(148, 147, 147);
}

form#postagens > input#enviar{
    width: 25%;
    height: 20px;
    font-size: .8rem;
    font-weight: bolder;
    padding-bottom: 2px;
    margin: 3px auto;
    background-color: rgb(148, 147, 147);
    border: none;
    
}

form#postagens > input#enviar:hover, input#foto:hover{
    background-color: rgb(0, 5, 5);
    color: aliceblue;
    cursor: pointer;
    border: .5px solid white;
}


@media screen and (min-width: 768px) {
    
    section{
        width: 70vw;
        height: 470px;
    }

}